.subscription {
    width: calc(100% - 480px);
    padding: 10px;
    font-size: 15px;
    background-color: var(--white2-color);
}

.subscription-con {
    padding: 20px;
    background-color: #fff;
}

.channel-checkbox {
    width: 40px;
}

.name-cols {
    width: 25%;
    padding-right: 5px;
}

.date-cols {
    width: 16%;
    padding-right: 5px;
}

.type-cols {
    width: 15%;
    padding-right: 5px;
}

.comment-cols {
    width: 22%;
    padding-right: 5px;
}

.subscription-cols {
    width: 100px;
}

.action-cols {
    width: 60px;
    margin: auto 0px
}

.left-widget {
    width: 400px;
    padding: 10px;
    background-color: var(--white2-color);
}

.info-right {
    font-size: 10px;
    color: #aaa;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.table {
    margin-top: 20px;
    color: #3f3f3fa6;
    font-size: 13px;
}

.border-grey {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-primary-light {
    padding: 14px 20px;
    padding-left: 30px;
    background-color: #164BBD10;
    color: #000035;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
    width: 130px;
}

.p-absolute {
    position: absolute;
}

.bar-chart {
    background-color: #eee;
    height: 10px;
    border-radius: 5px;
    width: 100%;
}
.bar-chart-length {
    background-color: #164BBD;
    height: 10px;
    border-radius: 5px;
}

.label-bar-chart {
    font-weight: 100;
}

.currency-sub {
    margin-top: 20px;
    margin-right: 5px;
}

.period-sub {
    margin-top: 20px;
}

.card-widget-sub {
    width: calc(50% - 50px);
}

.thin {
    font-weight: 100;
}

.widget-currency {
    width: calc(100% - 180px);
    display: flex;
}

@media (min-width: 300px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .subscription {
        width: 100%;
    }
    .left-widget {
        width: 100%;
    }
    .card-widget-sub {
        width: 100%;
        margin-bottom: 10px;
    }
    .mr-widget {
        margin-right: 0px;
    }
    .space-left {
        width: 210%;
    }
    .widget-content {
        width: 90%; display: flex;
    }
    .channel-checkbox {
        width: 30px
    }
    .name-cols {
        width: 18%;
    }
    .type-cols {
        width: 10%;
    }
}

@media (min-width: 900px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .subscription {
        width: 100%;
    }
    .left-widget {
        width: 400px;
    }
    .card-widget-sub {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 1000px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .subscription {
        width: calc(100% - 480px);
    }
    .left-widget {
        width: 400px;
    }
    .name-cols {
        width: 20%;
    }
    .date-cols {
        width: 15%;
    }
    .type-cols {
        width: 10%;
    }
    .comment-cols {
        width: 26%;
    }
    .subscription-cols {
        width: 100px;
    }
    .action-cols {
        width: 30px;
        margin: auto 0px
    }
}

@media (min-width: 1100px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .subscription {
        width: calc(100% - 480px);
    }
    .left-widget {
        width: 400px;
    }
    .name-cols {
        width: 19%;
    }
    .date-cols {
        width: 13%;
    }
    .type-cols {
        width: 12%;
    }
    .comment-cols {
        width: 22%;
    }
    .subscription-cols {
        width: 100px;
    }
    .action-cols {
        width: 30px;
        margin: auto 0px
    }
}

@media (min-width: 1280px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .left-widget {
        width: 440px;
    }
    .card-widget-sub {
        width: calc(50% - 50px);
    }
    .space-left {
        width: 70%;
    }
    .widget-content {
        width: 90%; display: flex;
    }
    .mr-widget {
        margin-right: 16px;
    }
    .name-cols {
        width: 19%;
    }
    .date-cols {
        width: 17%;
    }
    .type-cols {
        width: 14%;
    }
    .comment-cols {
        width: 25%;
    }
    .subscription-cols {
        width: 100px;
    }
    .action-cols {
        width: 30px;
        margin: auto 0px
    }
}

@media (min-width: 1300px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .card-widget-sub {
        width: calc(50% - 50px);
    }
}

@media (min-width: 1400px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .card-widget-sub {
        width: calc(50% - 50px);
    }
}