.subscription {
    width: calc(100% - 520px);
    padding: 10px;
    font-size: 15px;
    background-color: var(--white2-color);
}

.dark-mode .subscription {
    background-color: #111;
    transition: color 0.5s linear;
}

.subscription-con {
    padding: 20px;
    background-color: #fff;
    min-height: 923px;
    border: 1px solid #eee;
}

.dark-mode .subscription-con {
    background-color: #333;
    color: #aaa;
    border: 0px;
    transition: color 0.5s linear;
    transition: background-color 0.5s linear;
}

.channel-checkbox {
    width: 40px;
}

.name-cols {
    padding-top: 3px;
    width: 25%;
    padding-right: 5px;
    cursor: pointer;
}

.date-cols {
    margin-top: 3px;
    width: 16%;
    padding-right: 5px;
    cursor: pointer;
}

.type-cols {
    margin-top: 3px;
    width: 15%;
    padding-right: 5px;
    cursor: pointer;
}

.comment-cols {
    padding-top: 3px;
    width: 22%;
    padding-right: 5px;
    cursor: pointer;
}

.col-table svg {
    position: absolute;
    margin-left: 5px;
    margin-top: -4px;
    opacity: 0.2;
}

.dark-mode .col-table svg {
    filter: brightness(0) invert(1);
}

.sort-asc svg{
    opacity: 0.8;
    transform: rotate(0deg);
    transition: 0.4s linear;
}

.sort-desc svg{
    opacity: 0.8;
    transform: rotate(180deg);
    transition: 0.4s linear;
}

.subscription-cols {
    padding-top: 3px;
    width: 100px;
}

.subscription-cols svg {
    position: absolute;
    margin-left: 5px;
    margin-top: -4px;
}

.action-cols {
    width: 60px;
    margin: auto 0px
}

.left-widget {
    width: 400px;
    padding: 10px;
    background-color: var(--white2-color);
    border: 1px solid #eee;
}

.dark-mode .left-widget{
    background-color: #111;
    border: 1px solid transparent;
    transition: background-color 0.5s linear;
}

.dark-mode .card {
    color: #aaa;
    background-color: #333;
    transition: color 0.5s linear;
    transition: background-color 0.5s linear;
}

.info-right {
    font-size: 10px;
    color: #aaa;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.table {
    margin-top: 20px;
    color: #3f3f3fa6;
    font-size: 13px;
}

.dark-mode .table {
    color: #888;
    transition: color 0.5s linear;
}

.border-grey {
    border: 1px solid #ccc;
    border-radius: 10px;
}



.p-absolute {
    position: absolute;
}

.bar-chart {
    background-color: #eee;
    height: 10px;
    border-radius: 5px;
    width: 100%;
}

.dark-mode .bar-chart {
    background-color: #777;
}

.bar-chart-length {
    background-color: #164BBD;
    height: 10px;
    border-radius: 5px;
}

.dark-mode .bar-chart-length {
    background-color: #aaa;
}

.label-bar-chart {
    font-weight: 100;
}

.currency-sub {
    margin-top: 26px;
    margin-right: 5px;
}

.period-sub {
    margin-top: 27px;
}

.card-widget-sub {
    width: calc(50% - 50px);
}

.thin {
    font-weight: 100;
}

.widget-currency {
    width: calc(100% - 180px);
    display: flex;
}

.float-btn-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 2px;
    z-index: 100;
}

.dark-mode .tumbler {
    transform: translateX(calc(100% - 2px));
}
      
.header__title {
    display: block;
}

.tumbler__wrapper {
    margin-left: auto;
    width: 50px;
    height: 30px;
    background-color: black;
    border: darken(#aae2f1, 40);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}
  
.tumbler__wrapper  svg {
    width: 15px;
    height: 15px;
}
    
.tumbler {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform .5s, background-color .5s;
    will-change: transform;
}
  
.sun-svg,
.moon-svg {
    display: none;
}

.dark-mode .border-bottom-grey {
    border-color: #555;
}

.dark-mode .border-grey {
    border-color: #555;
}
  
@media (min-width: 300px) {
    .widget-currency {
        width: calc(100% - 130px);
    }
    .subscription {
        width: 100%;
    }
    .left-widget {
        width: 100%;
    }
    .card-widget-sub {
        width: 100%;
        margin-bottom: 10px;
    }
    .mr-widget {
        margin-right: 0px;
    }
    .space-left {
        width: 210%;
    }
    .widget-content {
        width: 155px; 
        display: flex;
    }
    .channel-checkbox {
        width: 30px
    }
    .name-cols {
        width: 18%;
    }
    .type-cols {
        width: 10%;
    }
}

@media (min-width: 900px) {
    .widget-currency {
        width: calc(100% - 130px);
    }
    .subscription {
        width: 100%;
    }
    .left-widget {
        width: 480px;
    }
    .card-widget-sub {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 1000px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .subscription {
        width: calc(100% - 480px);
    }
    .left-widget {
        width: 480px;
    }
    .name-cols {
        width: 20%;
    }
    .date-cols {
        width: 15%;
    }
    .type-cols {
        width: 10%;
    }
    .comment-cols {
        width: 26%;
    }
    .subscription-cols {
        width: 100px;
    }
    .action-cols {
        width: 30px;
        margin: auto 0px
    }
}

@media (min-width: 1100px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .subscription {
        width: calc(100% - 480px);
    }
    .left-widget {
        width: 480px;
    }
    .name-cols {
        width: 19%;
    }
    .date-cols {
        width: 13%;
    }
    .type-cols {
        width: 12%;
    }
    .comment-cols {
        width: 22%;
    }
    .subscription-cols {
        width: 100px;
    }
    .action-cols {
        width: 30px;
        margin: auto 0px
    }
}

@media (min-width: 1280px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .left-widget {
        width: 480px;
    }
    .card-widget-sub {
        width: calc(50% - 10px);
    }
    .space-left {
        width: 70%;
    }
    .widget-content {
        width: 90%; display: flex;
    }
    .mr-widget {
        margin-right: 16px;
    }
    .name-cols {
        width: 19%;
    }
    .date-cols {
        width: 17%;
    }
    .type-cols {
        width: 14%;
    }
    .comment-cols {
        width: 25%;
    }
    .subscription-cols {
        width: 100px;
    }
    .action-cols {
        width: 30px;
        margin: auto 0px
    }
}

@media (min-width: 1300px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .card-widget-sub {
        width: calc(50% - 10px);
    }
}

@media (min-width: 1400px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
    .card-widget-sub {
        width: calc(50% - 10px);
    }
}