.subscription {
    width: calc(100% - 480px);
    padding: 30px;
    font-size: 15px;
}

.channel-checkbox {
    width: 40px;
}

.name-cols {
    width: 25%;
}

.date-cols {
    width: 16%;
}

.type-cols {
    width: 15%;
}

.comment-cols {
    width: 22%;
}

.subscription-cols {
    width: 100px;
}

.action-cols {
    width: 60px;
    margin: auto 0px
}

.left-widget {
    width: 400px;
    padding: 10px;
    background-color: var(--white2-color);
}

.info-right {
    font-size: 10px;
    color: #aaa;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.table {
    margin-top: 20px;
    color: #3f3f3fa6;
    font-size: 13px;
}

.border-grey {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-primary-light {
    padding: 14px 20px;
    padding-left: 30px;
    background-color: #164BBD10;
    color: #000035;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
    width: 130px;
}

.p-absolute {
    position: absolute;
}

.bar-chart {
    background-color: #eee;
    height: 10px;
    border-radius: 5px;
    width: 100%;
}
.bar-chart-length {
    background-color: #164BBD;
    height: 10px;
    border-radius: 5px;
}

.label-bar-chart {
    font-weight: 100;
}

.currency-sub {
    margin-top: 20px;
    margin-right: 5px;
}

.period-sub {
    margin-top: 20px;
}

.card-widget-sub {
    width: calc(50% - 50px);
}

.thin {
    font-weight: 100;
}

.widget-currency {
    width: calc(100% - 180px);
    display: flex;
}


@media (min-width: 1200px) {

}

@media (min-width: 1300px) {
    .widget-currency {
        width: calc(100% - 180px);
    }
}